
<main class="container">
    <section class="hero">
        <h1>Bienvenido a CocoFLIX</h1>
        <p>Descubre las mejores películas y series en un solo lugar.</p>
    </section>

    <section class="featured">
        <h2>Destacados</h2>
        <div class="grid">
            <article class="card">
                <img src="/images/capitan-america_2025.jpg" alt="Película 1">
               <button class="button-info" onclick="openModal('pelicula1')">Ver Info</button>
            </article>
            <article class="card">
                <img src="/images/flow_2024.jpg" alt="Película 2">
                <button class="button-info" onclick="openModal('pelicula1')">Ver Info</button>
            </article>
            <article class="card">
                <img src="/images/superman_2025.jpg" alt="Película 3">
                <button class="button-info" onclick="openModal('pelicula1')">Ver Info</button>
            </article>
        </div>
    </section>
</main>

{{> footer}}
